doctype html
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
html
    head
        meta(http-equiv = 'Content-Type', content = 'text/html; charset=utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1" )
        link(href='https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic&subset=latin,cyrillic,cyrillic-ext' rel='stylesheet' type='text/css')
        //build:css css/vendor.css
        link(rel="stylesheet", href="bower/normalize-css/normalize.css")
        link(rel="stylesheet" type='text/css' href="bower/qtip2/jquery.qtip.css")
        //endbuild
        //build:css css/main.css
        link(rel="stylesheet" type='text/css' href="/css/main.css")
        link(rel="stylesheet" type='text/css' href="/css/page.css")
        //endbuild
        //build:js js/modernizr.js
        script(src="bower/modernizr/modernizr.js")
        //endbuild
    body
        .wrapper
            .header_top
                .phone_block
                    .icon_phone
                         a.phone_link(href="tel:+7(4942)31-11-59") +7(4942)31-11-59
                .menu_top_block
                        a(href="#").menu_link Кострома
                        a(href="#").menu_link Казань
            .header
                .logo_block
                        a(href="./index.html" class="logo"): img(src="images/logo_st.png" alt="Stamina.su")
                .menu_block
                    a(href="./").menu_link Главная
                    a(href="#").menu_link Блог
                    a(href="#").menu_link Контакты
            label( class="form_popup_header")
                 form( action="action.php" method="post" enctype="multipart/form-data" role="form" class="form_3")
                        .form__header_text Запишись на тренировку
                        p Первое занятие бесплатное
                        #serv-msg3( class="server-mes  error")
                        input( name="name" type="text" rows="350px" placeholder="Ваше имя" qtip-position="top" qtip-content="Введите имя" class="form__input")
                        input( name="message" type="text" rows="350px" placeholder="Ваш телефон" qtip-position="top" qtip-content="Введите телефон" class="form__input")
                        input( name="message" type="text" rows="350px" placeholder="Ваш город" qtip-position="top" qtip-content="Введите город?" class="form__input")
                        input( type="submit" value="Отправить" class="form__submit button")
        .block_slider
            div(class="single-item slick-slider")

                div.slick-slide
                    img(src="/images/run8.jpg")
                    .block_text
                        h2 Школа выносливости в Казани
                        p  Построение тренировочных планов
                        p  на основании функциональной диагностики


        .container.home_gorod

            .section_top

                h2 ВЫБЕРИТЕ СВОЮ ЦЕЛЬ
                h4 Мы понимаем, что к нам приходят люди с разным уровнем физической подготовки и целями, поэтому наши тренеры всегда составляют индивидуальный план тренировок, исходя из ваших целей.
                .block_top
                    .block_top_item
                       h3 Для себя
                       p Мы научим вас правильно и легко бегать. Во время занятий вам помогут выявить ошибки в технике бега, расскажут и покажут какими упражнениями с этими ошибками бороться.
                    .block_top_item
                        h3 Соревнования

                        p Вместе мы выберем один из множества стартов по всему миру, тренер составит тренировочный план в зависимости от вашего уровня физической подготовки и функционального состояния.

                h2.top_text(id="about") Тренер
            .section_top_block.trener_home
                .block_trener
                    .block_item_img
                        img(class="img_trener" src="/images/mastrov.jpg" alt="тренер по бегу казань")
                    .block_text_trener
                        h3 Мастров Артем
                        h5 Мастер спорта международного класса
                        p  Участник Олимпийских игр в Сиднее 2000г. Многократный призер чемпионатов России.
                        p  Рекордсмен Республики Татарстан в беге на 800м(1.46.04).
                        p Тренер и преподаватель кафедры теории и методики циклических видов спорта Поволжской ГАФКСиТ.
            .section_test_block
                h3 МЫ СОЗДАЕМ ТРЕНИРОВОЧНЫЕ ПЛАНЫ НА ОСНОВАНИИ ДИАГНОСТИКИ
                .block_test

                    .block_test_item
                        img(class="img_test" src="/images/gazanaliz.jpg" alt="Газанализ для определения МПК")

                        h4 ТЕСТИРОВАНИЕ НА ГАЗОАНАЛИЗАТОРЕ
                        p  Рекомендуем пройти диагностику в начале продолжающего уровня или перед подготовкой к соревнованиям.
                        p  Полученные результаты позволят оценить функциональное состояние мышц и сердечно-сосудистой системы, потенциальные возможности для развития выносливости и определить физиологические системы, которые лучше или хуже развиты в данный момент, определить аэробный и анаэробный пороги.
                    .block_test_item
                        img(class="img_test" src="/images/ekg.jpg" alt="ЭЛЕКТРОКАРДИОГРАММА бег")

                        h4 ЭЛЕКТРОКАРДИОГРАММА (ЭКГ)
                        p    Это запись электрической активности сердца.
                         | ЭКГ оценивает ритм и проводимость сердца, позволяет оценить кровоснабжение сердечной мышцы в состоянии покоя,
                         | а также выявить увеличение камер сердца (предсердий и желудочков).
                         | Прежде чем приступать к тренировкам мы должны знать как ваше сердце откликнется на нагрузки, чтобы правильно подобрать индивидуальный план

                    .block_test_item
                        img(class="img_test" src="/images/laktat.jpg" alt="Определение лактата крови")

                        h4 ОПРЕДЕЛЕНИЕ УРОВНЯ ЛАКТАТА ПОСЛЕ НАГРУЗКИ
                        p  Определение концентрации лактата (молочной кислоты) в крови является важным показателем оценки интенсивности нагрузки, одним из основных методов оперативного контроля за эффективностью тренировочного процесса, дает ценную информацию об изменениях, происходящих в крови, в мышцах, других тканях [5-7]. Кроме того, по концентрации лактата в крови прямым способом определяется уровень анаэробного порога (АнП), равный 4-5 мМоль/л (фиксированный порог) и в зависимости от физиологических особенностей спортсмена достигающий 6 мМоль/л [4].
                    .block_test_item
                        img(class="img_test" src="/images/tanita.jpg" alt="АНАЛИЗАТОРА СОСТАВА ТЕЛА TANITA")

                        h4 АНАЛИЗАТОРА СОСТАВА ТЕЛА TANITA
                        p Чтобы правильно следить за своей формой, нужно следить за тем, какую массу вы набираете, или теряете. Весы с анализатором жира (весы-анализаторы) полностью решают эту задачу. Что мы можем узнать по простым весам? Естественно наш общий вес, вместе с костями, внутренними органами, мышцами, жиром, и межклеточной жидкостью. Но ведь это не совсем то, что нас интересует. Ведь, к примеру, человек весом в 60 кг, может иметь 10% жира и выглядеть прекрасно, или при том же весе и объеме иметь 30% жира и жидкости, и это будет уже совсем другая форма. Поэтому общий показатель веса, не может объективно отразить состояние Вашего тела, для этого необходимы специальные диагностические весы жироанализаторы.
        .section_form
            h2.top_text(id="contact") Контакты
            .section_form_block
                .block_rewie.section_form_item
                    .phone_block
                a.phone_link(href="tel:+7(4942)31-11-59")
                i(class="fa fa-phone" aria-hidden="true")
                | &nbsp;7(4942)31-11-59
                a.phone_link(href="tel:+7(903)896-29-89")
                    i(class="fa fa-mobile" aria-hidden="true")
                    | &nbsp;7(903)896-29-89
                .menu_top_block
                a(href="http://stamina.su/kostroma").menu_link
                    i(class="fa fa-map-signs" aria-hidden="true")
                    | &nbsp;Кострома
                a(href="http://stamina.su/kazan").menu_link
                    i(class="fa fa-map-signs" aria-hidden="true")
                    | &nbsp;Казань
                .social_block
                    a(href="https://vk.com/stamina_su")
                        i(class="fa fa-vk fa-lg" aria-hidden="true")
                    a(href="https://www.facebook.com/stamina.su/")
                        i(class="fa fa-facebook-official fa-lg" aria-hidden="true")
                    a(href="#")
                        i(class="fa fa-instagram fa-lg" aria-hidden="true")
                .form_wrapper.section_form_item
                label( class="form_popup")
                    .form__header_text  Форма для связи
                    form( action="action.php" method="post" enctype="multipart/form-data" role="form" class="form_3")
                        #serv-msg3( class="server-mes  error")
                        .block_form
                            input( name="name" type="text" rows="350px" placeholder="Ваше имя" qtip-position="top" qtip-content="Введите имя" class="form__input")
                            input( name="message" type="text" rows="350px" placeholder="Ваш Email" qtip-position="top" qtip-content="Введите почту" class="form__input")
                            textarea( name="message" type="text" rows="5" placeholder="Введите текст сообщения" qtip-position="top" qtip-content="Введите текст сообщения" class="form__input")
                            input( type="submit" value="Отправить" class="form__submit ")
        .section_footer
            .logo_block
                a(href="#" class="logo"): img(src="images/logo_st.png" alt="Stamina.su")
            .social_block
                .social_block_item
                    .vk
                .social_block_item
                    .fc
                .social_block_item
                    .insta
            .copyright_block
                p Copyright 2015-2017
                    div(id="")
        label( class="form_popup_footer" id="element_to_pop_up")
            form( action="action.php" method="post" enctype="multipart/form-data" role="form" class="form_1")
                a(href="" class="close-form b-close pull-right")
                    span(class="glyphicon glyphicon-remove")
                .form__header_text Заполните форму
                #serv-msg3( class="server-mes  error")
                input( name="name" type="text" rows="350px" placeholder="Ваше имя" qtip-position="top" qtip-content="Введите имя" class="form__input")
                input( name="message" type="text" rows="350px" placeholder="Ваш телефон" qtip-position="top" qtip-content="Введите телефон" class="form__input")
                input( name="message" type="text" rows="350px" placeholder="Ваш город" qtip-position="top" qtip-content="Введите город?" class="form__input")
                input( type="submit" value="Отправить" class="form__submit button")
        //build:js js/vendor.js
        script(src="/js/jquery.min.js")
        script(src="/bower/bPopup/jquery.bpopup.min.js")
        script(src="/bower/qtip2/jquery.qtip.min.js")
        script(src="/js/slick.min.js")
        //endbuild
        //build:js js/main.js
        script(src="/js/send.js")
        script(src="/js/validation.js")
        script(src="/js/main.js")
        //endbuild
                                              